<filepath="ubuntufont.png" id="ubuntuFontTex" colfmt=6 />
<filepath="white.png" id="whiteTex" colfmt=6 />
<filepath="black.png" id="blackTex" colfmt=6 />
<filepath="dark.png" id="darkTex" colfmt=6 />
<filepath="light.png" id="lightTex" colfmt=6 />
<filepath="LogoandSpace.png" id="LogoandSpaceTex" colfmt=6 />